/androidClient/*.iml
/androidClient/.gradle
/androidClient/local.properties
/androidClient/.idea/workspace.xml
/androidClient/.idea/libraries
/androidClient/.DS_Store
/androidClient/build
/androidClient/captures
/androidClient/*.ap_
/androidClient/*.apk
/androidClient/bin/
/androidClient/gen/
/androidClient/out/

/.DS_Store
/server/node_modules
