extends layout

block content
  a(href='register') register
  form(id='loginForm')
    h1 login
      .form
        input.textfield(type='text', name='username', placeholder='Username')
      .form
        input.textfield(type='password', name='password', placeholder='Password')
      .form
        input#submit.button(type='button', name='submit', value='login')

  script(type='text/javascript', src='/javascripts/jquery-2.2.0.min.js')
  script(type='text/javascript', src='/javascripts/login.js')