extends layout

block content
  a(href='login') login
  form(id='registerForm')
    h1 register
      .form
        input.textfield(id='username', type='text', name='username', placeholder='Username')
        span.error
      .form
        input.textfield(id='password', type='password', name='password', placeholder='Password')
        span.error
      .form
        input.textfield(id='telephone', type='text', name='telephone', placeholder='Telphone number')
        span.error
      .form
        input.textfield(id='email', type='text', name='email', placeholder='E-mail address')
        span.error
      .form
        input#reset.button(type='reset', name='reset', value='Reset')
        span.error
      .form
        input#submit.button(type='button', name='submit', value='register')
        span.error

  script(type='text/javascript', src='/javascripts/jquery-2.2.0.min.js')
  script(type='text/javascript', src='/javascripts/register.js')
  script(type='text/javascript', src='/javascripts/validator.js')